[Desktop Entry]
Name=Sway
Comment=An intelligent dynamic tiling Wayland compositor for Wayland
Exec=$HOME/.nix-profile/bin/sway
Type=Application
DesktopNames=sway
# register with GDM (so “lock screen,” fallback, etc. work)
X-GDM-SessionRegisters=true
X-GDM-CanRunHeadless=true